*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c2c2c;
    flex-direction: column;
}
h1{
    position: relative;
    color: white;
    margin-top: -1rem;
}
#form label{
    color: white;
}
#form{
    margin-top: 1rem;
    position: relative;
    left: 11vw;
}
#email, #username, #password, #confirmpassword{
    width: 70vh;
    background: #1a1919;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem;
    color: #525151;
}

button{
    margin-top: 0.3rem;
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background: #000000;
    color: #ffffff;
}
.inputBox{
    display: flex;
    flex-direction: column;
}
